In [14]:
t=(1,3) # ceci est un tuple

l=[3,6] # ceci est une liste

In [9]:
t

(1, 3)

In [15]:
l

[3, 6]

In [17]:
l[0]=4 # une liste est modifiable
l

[4, 6]

In [18]:
t[0]=4 # un tuple est immuable

TypeError: 'tuple' object does not support item assignment

In [2]:
# Différentes manières de créer un tableau de valeurs : 
import numpy as np


x=np.linspace(-15,15,100) # tableau de 100 valeurs comprises entre -15 et 15

l=np.arange(-10,10,0.1)# tableau de valeurs de -10 à 10 avec un pas de 0,1

In [5]:
type(x)

numpy.ndarray

In [6]:
type(l)

numpy.ndarray